/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General project styles */
    color: #3a3a3a;
    font-family: 'Lato' , sans-serif;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Style nav bar with drop down toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-sign {
    font-size: 2rem;
}

/* Main
     content*/
main {
    background-color: lightblue;
    /*Main element occupies surplus space to push the footer down*/
    flex: 1 0 auto;
    margin-top: 95px;
}

/*Hero image section*/
#hero-img {
    height: 600px;
    width: 100%;
    background: url(../images/hero-img-pexels.jpg) no-repeat center center/cover;
    position: relative;
}

#cover-text-one {
    /*Final rgba value for the opacity*/
    background-color: rgba(241, 109, 107, .7);
    font-size: 130;
    position: absolute;
    top: 30px;
    width: 90%;
    min-height: 100px;
    padding-top: 5px;
    padding-left: 10px;
}

#cover-text-one > h2 {
    color: #ffffff;
}

/*Introduction-About Us section*/
#cover-text-two {
    background-color: rgba(128, 128, 128, .5);
    font-size: 20px;
    position: absolute;
    bottom: 2px;
    width: 96%;
    min-height: 400px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#cover-text-two > h2 {
    color: #ffffff;
    padding-bottom: 0;
}

#cover-text-two > p > li {
    font-size: 18px;
    text-align: justify;
    color: #ffffff;
    line-height: 1em;
    margin-bottom: 2.2em;
    padding-bottom: 1px;
}

/*Style list items for the about section*/
.lists-about {
    font-size: 15.5px;
    color: #ffffff;
    list-style-type: none;
    text-align: justify;
    letter-spacing: 0.1em;
    word-spacing: 115%;
    padding-top: 10px;
}

/* Footer */
#social-media-links {
        text-align: center;
        padding:20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }
#social-media-links i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-sign {
        display: none;
    }

    #logo {
        margin: 0 0.5rem;
        line-height: 2.5rem;
    }

    /*Main content*/
    main {
        /*expand main content down to accomodate the larger header*/
        margin-top: 58px;
    }

    /*Hero Image section*/
    #cover-text-one {
        width: 300px;
        right: 50px;
    }

}

/*Media query: laptops and desktops  (992px and larger)*/ 
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}