/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General project styles */
    color: #3a3a3a;
    font-family: 'Lato' , sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Style nav bar with drop down toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-sign {
    font-size: 2rem;
}

/* Main
     content*/
main {
    /*Main element occupies surplus space to push the footer down*/
    flex: 1 0 auto;
    margin-top: 95px;
}

/*Hero image section*/
#hero-img {
    height: 600px;
    width: 100%;
    background: url(../images/hero-img-pexels.jpg) no-repeat center center/cover;
    position: relative;
}

#cover-text-one {
    /*Final rgba value for the opacity*/
    background-color: rgba(241, 109, 107, .7);
    font-size: 130;
    position: absolute;
    top: 15px;
    width: 90%;
    min-height: 80px;
    padding-top: 5px;
    padding-left: 10px;
}

#cover-text-one > h2 {
    color: #ffffff;
}

/*Introduction-About Us section*/
#cover-text-two {
    background-color: rgba(128, 128, 128, .5);
    font-size: 5px;
    position: absolute;
    top: 140px;
    bottom: 10px;
    width: 96%;
    min-height: 420px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#cover-text-two > h2 {
    color: #ffffff;
    padding-bottom: 0;
    font-size: 20px;
}

#cover-text-two > p > li {
    font-size: 18px;
    text-align: justify;
    color: #ffffff;
    line-height: 1em;
    margin-bottom: 2.2em;
    padding-bottom: 1px;
}

/*Style list items for the about section*/
.lists-about {
    font-size: 15.5px;
    color: #ffffff;
    list-style-type: none;
    text-align: justify;
    letter-spacing: 0.1em;
    word-spacing: 115%;
    padding-top: 10px;
}

/*Upcoming Events Section*/
#upcomings {
    background: url('../images/people-enjoying-coffee-in-a-caffe.jpg') no-repeat center/cover;
    /*This replaces the media querry to add responsiveness*/
    display: flex;
    flex-wrap: wrap;
}

#upcomings div {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .3);
    padding: 15px;
    text-align: center;
    /*This will not wrap on screens of less than 400px wide and each div to expand to fill available space*/
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#upcomings h3 {
    /*Color set to override color set in the general styles*/
    color: #ffffff;
}

/*Gallery Page*/
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/*Join Us Page*/
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Form */
#join-us {
    background-image: url("../images/people-picking-cups-of-coffee.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#join-us-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#join-us-form > h2 {
    color: #fafafa;
    margin-bottom: 10px;
}

#join-us-form > h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}


/* Footer */
#social-media-links {
        text-align: center;
        padding:20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }
#social-media-links i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/*Media query: landscape devices or phones and large (576px and larger)*/
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }

}


/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-sign {
        display: none;
    }

    #logo {
        margin: 0 0.5rem;
        line-height: 2.5rem;
    }

    /*Main content*/
    main {
        /*expand main content down to accomodate the larger header*/
        margin-top: 58px;
    }

    /*Hero Image section*/
    #cover-text-one {
        width: 300px;
        right: 50px;
    }

    /*Gallery page*/
    #photos {
        column-count: 3;
    }

    /* Form */
    #join-us {
        background-position: center;
        position: relative;
    }

    #join-us-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 10px;
        bottom: 60px;
    }

    .text-input:hover {
        border-color: #f9423a;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }
}

/*Media query: laptops and desktops  (992px and larger)*/ 
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /*Gallery page*/
    #photos {
        column-count: 4;
    }
}

    
